@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your main CSS file */
.slide-in-image {
  animation: slideIn 0.8s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
